/* ForumPage.css */

/* General styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f2f2f2;
}

/* Forum page container */
.forum-page {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Header styling */
.forum-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  background-color: #4CAF50;
  color: white;
}

.forum-header h1 {
  margin: 0;
  font-size: 2rem;
}

.header-buttons {
  display: flex;
  gap: 10px;
}

.forum-button,
.community-nav-button,
.community-signout-button {
  background-color: #6A1B9A;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

.forum-button:hover,
.community-nav-button:hover,
.community-signout-button:hover {
  background-color: #4A148C;
}

.forum-posts {
  padding: 20px;
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forum-post {
  background-color: #ffffff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 95%;
}

.author-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.author-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.author-name {
  font-weight: bold;
  color: #333;
}

.forum-post h2 {
  margin: 10px 0;
  font-size: 1.5rem;
  color: #333;
  text-align: left; /* Align title to the left */
}

.forum-post p {
  margin: 10px 0;
  color: #666;
  text-align: left; /* Align description to the left */
}

.post-pictures {
  display: flex;
  flex-wrap: wrap;
  margin: 10px -5px;
}

.post-picture {
  width: calc(33.333% - 10px);
  margin: 5px;
  border-radius: 10px;
}

.post-tags {
  margin-top: 10px;
}

.post-tag {
  display: inline-block;
  background-color: #e0e0e0;
  color: #333;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 3px;
  font-size: 0.9rem;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 10px;
}

button:hover {
  background-color: #388E3C;
}

/* Modal styling */
.Modal {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  margin: 30px auto;
  position: relative;
}

.Modal h2 {
  margin-top: 0;
}

.Modal textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1rem;
}

.Modal button {
  font-size: 1rem;
  padding: 10px 20px;
  margin-right: 10px;
}

.comment, .reply {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment .author-info, .reply .author-info {
  margin-bottom: 5px;
}

.comment .author-name, .reply .author-name {
  font-weight: bold;
}

.comment p, .reply p {
  margin: 5px 0;
  color: #666;
}

.replies {
  margin-top: 10px;
}

.replies ul {
  list-style-type: disc;
  padding-left: 20px;
}

.replies p {
  font-weight: bold;
}

/* Tag filter styling */
.tag-filter {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.tag-input {
  width: 50%;
  padding: 15px;
  font-size: 1.2rem;
  border: 2px solid #ccc;
  border-radius: 10px;
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.tag-input:focus {
  border-color: #4CAF50;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Container for tag filter and post button */
.tag-filter-and-post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 20px auto;
}

.tag-input {
  flex: 1;
  padding: 10px;
  font-size: 1.2rem;
  border: 2px solid #ccc;
  border-radius: 10px;
  outline: none;
  margin-right: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.forum-button {
  background-color: #6A1B9A;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

.forum-button:hover {
  background-color: #4A148C;
}
