.like-button {
    background-color: #ffcc00;
    color: black;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .like-button:hover {
    background-color: #e6b800;
  }