.pr-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    padding: 20px;
    height: 100vh;
  }
  
  .pr-form {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .pr-form h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .pr-input,
  .pr-textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
  }
  
  .pr-button {
    background-color: #6A1B9A;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
  }
  
  .pr-button:hover {
    background-color: #4A148C;
  }
  
  .pr-tag-input {
    display: flex;
    align-items: center;
  }
  
  .pr-add-button {
    background-color: #6A1B9A;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .pr-add-button:hover {
    background-color: #4A148C;
  }
  
  .pr-tags-list {
    display: flex;
    flex-wrap: wrap;
  }
  
  .pr-tag {
    background-color: #e0e0e0;
    color: #333;
    padding: 5px 10px;
    margin: 5px;
    border-radius: 3px;
  }
  .pr-photo-thumbnails {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

.pr-photo-thumbnail {
  position: relative;
  width: 60px;
  height: 60px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.pr-thumbnail-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.pr-remove-thumbnail {
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 14px;
  cursor: pointer;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.pr-remove-thumbnail:hover {
  background: darkred;
}

.pr-tags-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.pr-tag {
  background-color: #e0e0e0;
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  font-size: 0.9rem;
}

.pr-remove-tag {
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 14px;
  cursor: pointer;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  padding: 0;
}

.pr-remove-tag:hover {
  background: darkred;
}
